<h1 class="title">Event List</h1>
<div class="filters">
  <div class="head_left">
    <span style="" class="k-widget k-datepicker k-header"><span class="k-picker-wrap k-state-default"><input type="text" value="08/01/2014" id="from-datepicker" data-role="datepicker" style="" class="k-input" role="textbox" aria-haspopup="true" aria-expanded="false" aria-owns="from-datepicker_dateview" aria-disabled="false" aria-readonly="false" aria-label="Current focused date is Monday, September 01, 2014"><span class="k-select" unselectable="on" role="button" aria-controls="from-datepicker_dateview"><span class="k-icon k-i-calendar" unselectable="on">select</span></span></span></span>
    <span style="" class="k-widget k-datepicker k-header"><span class="k-picker-wrap k-state-default"><input type="text" value="09/01/2014" id="to-datepicker" data-role="datepicker" style="" class="k-input" role="textbox" aria-haspopup="true" aria-expanded="false" aria-owns="to-datepicker_dateview" aria-disabled="false" aria-readonly="false" aria-label="Current focused date is Tuesday, September 01, 2015"><span class="k-select" unselectable="on" role="button" aria-controls="to-datepicker_dateview"><span class="k-icon k-i-calendar" unselectable="on">select</span></span></span></span>
    <!--<a class="btn btn-primary" id="filter_events">Filter</a>-->
  </div>
  <div class="head_right">
    <%= link_to "+ Create Event", new_event_path, :class => 'btn btn-primary', :style => "float:right" %>
    <%= link_to "Report", new_event_path, :class => 'btn btn-primary', :style => "float:right;margin:0 3px 0 0;" %>
    <!--{:controller => "events", :action => "download_csv"}-->
  </div>
</div>
<div class="event_list" id="event_list">

  <%= render :partial => "events/event_list" %>
</div>
<script type="text/javascript ">
    $("#from-datepicker").kendoDatePicker();
    $("#to-datepicker").kendoDatePicker();
    $("#event_event_state, #event_speaker_state, #event_event_type, #event_quarter, #event_event_id_smi, #program_type, #event_type, #program_type, #quarter, #us_states, #speaker_states").kendoDropDownList();
    $("#filter_events").click(function () {
        var start_date = $("#from-datepicker").val()
        var end_date = $("#to-datepicker").val()
        $.ajax({
            url: '/events/filter_events?start_date=' + start_date + "&end_date=" + end_date,
            type: 'post',
            dataType: 'html',
            processData: false,
            success: function (data) {
                $("#event_list").html(data);
//                if (data == "ok") {
////                    window.location.reload();
//                }
//                else {
//                    window.location.reload();
//                }
            },
            error: function (data) {
            }
        });

    })
</script>
<style>
    #Conf_table_previous {
        margin: 0px 25px 0px 0px;
    }

    .label-del {
        background-color: #ff2d2d
    }
</style>