<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Manage Events</title>

        <!-- CDN-based stylesheet references for Kendo UI Web -->
		<link href="http://cdn.kendostatic.com/2013.3.1119/styles/kendo.common.min.css" rel="stylesheet" />
		<link href="http://cdn.kendostatic.com/2013.3.1119/styles/kendo.rtl.min.css" rel="stylesheet" />
		<link href="http://cdn.kendostatic.com/2013.3.1119/styles/kendo.silver.min.css" rel="stylesheet" />
		<!-- CDN-based script reference for Kendo UI -->
		<script src="http://cdn.kendostatic.com/2013.3.1119/js/kendo.all.min.js"></script>
	</head>
	<body>
		<div class="wrapper">

<div class="content">
        	<div class="content_wrapper">

			<h1 class="title">Manage Events</h1>


					<div class="left">
						<p>Event ID DLP : 1234</p>
						<p>Program Type : SPK/LCDEXC</p>
						<p>Speaker : Mr. John Doe</p>
						<p>Rep : Mr. Johany Deppy</p>
						<p>Event Date : 01/19/2014</p>
						<p>Event Time : 10.00 PM</p>
						<p>Event State : Albama</p>
						<p>Event City : </p>
						<p>Speaker State : </p>
						<p>Speaker City : </p>
						<p>Travel : Yes</p>
					</div>
					<!-- left -->

					<div class="right">

					<div class="manage_events">







						<table class="notes_holder" width="100%" border="0" cellspacing="0" cellpadding="0">
						  <tr>
						    <td>
						    	<textarea class="form-control" rows="5">Notes (A/V)</textarea>
						    </td>
						    <td>
						    	<textarea class="form-control" rows="5">Notes (Venue)</textarea>
						    </td>
						  </tr>

						  <tr>
						    <td>

							<table width="100%" border="0" cellspacing="0" cellpadding="0">
							  <tr>
							    <td>Final Gurantee ($)</td>
							    <td><input id="dlp_id" type="text" class="form-control" ></td>
							  </tr>
							  <tr>
							    <td>Final Gurantee (Count)</td>
							    <td><input id="dlp_id" type="text" class="form-control" ></td>
							  </tr>
							  <tr>
							    <td>Venue Name</td>
							    <td><input id="dlp_id" type="text" class="form-control" ></td>
							  </tr>
							</table>

						    </td>
						    <td>

						    							<table width="100%" border="0" cellspacing="0" cellpadding="0">
							  <tr>
							    <td>Venue Address</td>
							    <td><input id="dlp_id" type="text" class="form-control" ></td>
							  </tr>
							  <tr>
							    <td>Venue Contact Name</td>
							    <td><input id="dlp_id" type="text" class="form-control" ></td>
							  </tr>
							  <tr>
							    <td>Venue Contact #</td>
							    <td><input id="dlp_id" type="text" class="form-control" ></td>
							  </tr>
							</table>


						    </td>
						  </tr>


						</table>
						<!-- Notes -->


				<table class="table" width="100%" border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <th scope="col">Sr. No.</th>
				    <th scope="col">Expense Type</th>
				    <th scope="col">$</th>
				    <th scope="col">Value Transfer Date</th>
				    <th scope="col">Payment By</th>
				    <th scope="col">Notes</th>
				  </tr>
				  <tr>
				    <td>1</td>
				    <td>

			    	<select id="expense1">
					  <option>Expense 1</option>
					  <option>Expense 1</option>
					  <option>Expense 3</option>
					  <option>Expense 4</option>
					</select>

				    </td>
				    <td width="15%"><input type="text" class="form-control" /></td>
				    <td>
				    <input id="vtd-datepicker" value="09/01/2014"  />
				    </td>
				    <td>
			    	<select id="paymentBy">
					  <option>Payment 1</option>
					  <option>Payment 1</option>
					  <option>Payment 3</option>
					  <option>Payment 4</option>
					</select>

				    </td>
				    <td>
					<textarea class="form-control" rows="1"></textarea>

				    </td>
				  </tr>


				   <tr>
				    <td>2</td>
				    <td>

			    	<select id="expense1">
					  <option>Expense 1</option>
					  <option>Expense 1</option>
					  <option>Expense 3</option>
					  <option>Expense 4</option>
					</select>

				    </td>
				    <td width="15%"><input type="text" class="form-control" /></td>
				    <td>
				    <input id="vtd-datepicker" value="09/01/2014"  />
				    </td>
				    <td>
			    	<select id="paymentBy">
					  <option>Payment 1</option>
					  <option>Payment 1</option>
					  <option>Payment 3</option>
					  <option>Payment 4</option>
					</select>

				    </td>
				    <td>
					<textarea class="form-control" rows="1"></textarea>

				    </td>
				  </tr>


				   <tr>
				    <td>3</td>
				    <td>

			    	<select id="expense1">
					  <option>Expense 1</option>
					  <option>Expense 1</option>
					  <option>Expense 3</option>
					  <option>Expense 4</option>
					</select>

				    </td>
				    <td width="15%"><input type="text" class="form-control" /></td>
				    <td>
				    <input id="vtd-datepicker" value="09/01/2014"  />
				    </td>
				    <td>
			    	<select id="paymentBy">
					  <option>Payment 1</option>
					  <option>Payment 1</option>
					  <option>Payment 3</option>
					  <option>Payment 4</option>
					</select>

				    </td>
				    <td>
					<textarea class="form-control" rows="1"></textarea>

				    </td>
				  </tr>


				   <tr>
				    <td>4</td>
				    <td>

			    	<select id="expense1">
					  <option>Expense 1</option>
					  <option>Expense 1</option>
					  <option>Expense 3</option>
					  <option>Expense 4</option>
					</select>

				    </td>
				    <td width="15%"><input type="text" class="form-control" /></td>
				    <td>
				    <input id="vtd-datepicker" value="09/01/2014"  />
				    </td>
				    <td>
			    	<select id="paymentBy">
					  <option>Payment 1</option>
					  <option>Payment 1</option>
					  <option>Payment 3</option>
					  <option>Payment 4</option>
					</select>

				    </td>
				    <td>
					<textarea class="form-control" rows="1"></textarea>

				    </td>
				  </tr>
				  <tr>
				    <td>5</td>
				    <td>

			    	<select id="expense1">
					  <option>Expense 1</option>
					  <option>Expense 1</option>
					  <option>Expense 3</option>
					  <option>Expense 4</option>
					</select>

				    </td>
				    <td width="15%"><input type="text" class="form-control" /></td>
				    <td>
				    <input id="vtd-datepicker" value="09/01/2014"  />
				    </td>
				    <td>
			    	<select id="paymentBy">
					  <option>Payment 1</option>
					  <option>Payment 1</option>
					  <option>Payment 3</option>
					  <option>Payment 4</option>
					</select>

				    </td>
				    <td>
					<textarea class="form-control" rows="1"></textarea>

				    </td>
				  </tr>
				  <tr>
				    <td>6</td>
				    <td>

			    	<select id="expense1">
					  <option>Expense 1</option>
					  <option>Expense 1</option>
					  <option>Expense 3</option>
					  <option>Expense 4</option>
					</select>

				    </td>
				    <td width="15%"><input type="text" class="form-control" /></td>
				    <td>
				    <input id="vtd-datepicker" value="09/01/2014"  />
				    </td>
				    <td>
			    	<select id="paymentBy">
					  <option>Payment 1</option>
					  <option>Payment 1</option>
					  <option>Payment 3</option>
					  <option>Payment 4</option>
					</select>

				    </td>
				    <td>
					<textarea class="form-control" rows="1"></textarea>

				    </td>
				  </tr>
				  <tr>
				    <td>7</td>
				    <td>

			    	<select id="expense1">
					  <option>Expense 1</option>
					  <option>Expense 1</option>
					  <option>Expense 3</option>
					  <option>Expense 4</option>
					</select>

				    </td>
				    <td width="15%"><input type="text" class="form-control" /></td>
				    <td>
				    <input id="vtd-datepicker" value="09/01/2014"  />
				    </td>
				    <td>
			    	<select id="paymentBy">
					  <option>Payment 1</option>
					  <option>Payment 1</option>
					  <option>Payment 3</option>
					  <option>Payment 4</option>
					</select>

				    </td>
				    <td>
					<textarea class="form-control" rows="1"></textarea>

				    </td>
				  </tr>
				  <tr>
				    <td>8</td>
				    <td>

			    	<select id="expense1">
					  <option>Expense 1</option>
					  <option>Expense 1</option>
					  <option>Expense 3</option>
					  <option>Expense 4</option>
					</select>

				    </td>
				    <td width="15%"><input type="text" class="form-control" /></td>
				    <td>
				    <input id="vtd-datepicker" value="09/01/2014"  />
				    </td>
				    <td>
			    	<select id="paymentBy">
					  <option>Payment 1</option>
					  <option>Payment 1</option>
					  <option>Payment 3</option>
					  <option>Payment 4</option>
					</select>

				    </td>
				    <td>
					<textarea class="form-control" rows="1"></textarea>

				    </td>
				  </tr>
				  <tr>
				    <td>9</td>
				    <td>

			    	<select id="expense1">
					  <option>Expense 1</option>
					  <option>Expense 1</option>
					  <option>Expense 3</option>
					  <option>Expense 4</option>
					</select>

				    </td>
				    <td width="15%"><input type="text" class="form-control" /></td>
				    <td>
				    <input id="vtd-datepicker" value="09/01/2014"  />
				    </td>
				    <td>
			    	<select id="paymentBy">
					  <option>Payment 1</option>
					  <option>Payment 1</option>
					  <option>Payment 3</option>
					  <option>Payment 4</option>
					</select>

				    </td>
				    <td>
					<textarea class="form-control" rows="1"></textarea>

				    </td>
				  </tr>
				  <tr>
				    <td>10</td>
				    <td>

			    	<select id="expense1">
					  <option>Expense 1</option>
					  <option>Expense 1</option>
					  <option>Expense 3</option>
					  <option>Expense 4</option>
					</select>

				    </td>
				    <td width="15%"><input type="text" class="form-control" /></td>
				    <td>
				    <input id="vtd-datepicker" value="09/01/2014"  />
				    </td>
				    <td>
			    	<select id="paymentBy">
					  <option>Payment 1</option>
					  <option>Payment 1</option>
					  <option>Payment 3</option>
					  <option>Payment 4</option>
					</select>

				    </td>
				    <td>
					<textarea class="form-control" rows="1"></textarea>

				    </td>
				  </tr>
				  <tr>
				  	<td></td>
				  	<td></td>
				  	<td></td>
				  	<td></td>
				  	<td align="right"><strong>Total</strong></td>
				  	<td><input type="text" class="form-control"></td>
				  </tr>
				</table>

				<footer>
					<button id="lock" type="button" class="lock btn btn-primary  "><i class="fa fa-unlock"></i>Lock</button>
					<button type="button" class="btn btn-primary  ">Save</button>
					<a class="btn btn-primary " href="/events/index">Back</a>
				</footer>


				</div>
				<!-- manage events -->




					</div>
					<!-- right -->




				</div> <!-- content ends -->


            </div> <!-- content_wrapper ends -->

		</div><!-- wrapper ends -->







		<script >

			// $("#modal-states").kendoDropDownList();
			// $("#timezone").kendoDropDownList();
			$("#vtd-datepicker, #to-datepicker, #evt_date").kendoDatePicker();


			// Create Event form
			$("#expense1,  #paymentBy").kendoDropDownList();
$('#lock').click(function(){
        $(this).toggleClass("locked");
    });


		</script>

    </body>

</html>