<!--<div class="row-fluid">-->

<h1 class="title">Create event</h1>
<div class="create_event">
<%= render "form" %>
  </div>
<!--<style>-->
    <!--/*#event_event_type {*/-->
        <!--/*width:150px!important;*/-->
    <!--/*}*/-->
    <!--/*#datetimepicker {*/-->
        <!--/*width:137px!important;*/-->
    <!--/*}*/-->
    <!--/*#event_quarter {*/-->
        <!--/*width:150px!important;*/-->
    <!--/*}*/-->
    <!--/*#event_event_city {*/-->
        <!--/*width:150px!important;*/-->
    <!--/*}*/-->
    <!--/*#event_event_state {*/-->
        <!--/*width:150px!important;*/-->
    <!--/*}*/-->
    <!--/*#event_speaker_city {*/-->
        <!--/*width:150px!important;*/-->
    <!--/*}*/-->
    <!--/*#event_speaker_state {*/-->
        <!--/*width:150px!important;*/-->
    <!--/*}*/-->
<!--</style>-->
<!--<script src="./jquery.datetimepicker.js"></script>-->
<!--<script>-->
<!--//$('#datetimepicker').datetimepicker({ minDate: 0 });-->
<!--//$('#datetimepicker1').datetimepicker({ minDate: 0 });-->
<!--//var logic = function( currentDateTime ){-->
<!--//	if( currentDateTime.getDay()==6 ){-->
<!--//		this.setOptions({-->
<!--//			minTime:'11:00'-->
<!--//		});-->
<!--//	}else-->
<!--//		this.setOptions({-->
<!--//			minTime:'8:00'-->
<!--//		});-->
<!--//};-->
<!--//-->
<!--</script>-->

